
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    
}

section{
    text-align: center;
}

/* shared styles */
.display-flex{
    display: flex;
}


/* background color */
.bg-dark{
    background-color: rgba(17, 17, 17, 1.00);
}

/* text color */
.text-white{
    color: rgba(255, 255, 255, 1);
}
.text-light{
    color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    border-radius: 46px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(230, 83, 60);
    padding: 16px 45px;
    border: none;
}
.btn-secondary{
    border-radius: 46px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    padding: 16px 45px;
    border: 1px solid white;
}
.brand{
    font-weight: 800;
    font-size: 2.5rem;
    font-style: italic;
    color: rgba(230, 83, 60, 1);
}
/* header styles */

/* navbar styles */
.navbar, .banner{
    justify-content: space-between;
    align-items: center;
}
.nav-links 
    { 
        justify-content: space-between;
        padding: 5px 10px; 
        border: 1px solid  #333;     
        border-radius: 30px;    
    }
    
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.nav-link{
    text-decoration: none;
    padding: 0 auto;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 190px;
}

/* banner related styles */
.banner-content{
    max-width: 520px;
    text-align: left;
}

.banner-title{
    font-size: 4.9rem;
    font-weight: 900;
}

.banner-description{
    font-size: 1rem;
    font-weight: 500;
}


/* Section related styles */

.section-title{
    padding-top: 100px;
    font-size: 3rem;
}
.section-description{
    font-size: 1rem;
    font-weight: 500;
    max-width: 650px;
    padding-left: 590px;
}

.section-img{
    padding: 0 200px;
    padding-top: 2.5rem;
    max-width: 1044px;
    margin: 0 auto;
}
.habit-section{
    padding: 1rem;
}
.habit-img{
    border-radius: 100%;
}

.run-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a; 
    color: #fff;
    padding: 30px 40px;
    border-radius: 20px; 
    max-width: 1060px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.run-content{
    max-width: 400px;
    text-align: left;
}

.run-content h1{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fff;
}

.run-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.run-img{
    max-width: 50%;
    display: flex;
    justify-content: center;
}
.run-img img{
    width: 366px; 
    height: 312px; 
    border-radius: 18px; 
    object-fit: cover;
}
.now-btn{
    padding: 16px 70px;
}
/* bmi relate styles */
.bmi-section{
    text-align: left;
    max-width: 670px;
    margin: 80px auto;
}
.bmi-section h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.bmi-section p{
    font-size: 1rem;
    margin: 0;
}
.bmi-color{
    background-color: rgba(34, 34, 34, 1);}
.bmi-chat-section{
    max-width: 100%;
    margin: 50px auto;
    padding: 30px; 
    padding-bottom: 60px;
    display: flex;
   
}
.bmi-container {
    display: flex;
}

.bmi-chart, .bmi-calculator {
    background-color: #222222;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    color: #fff;
}

.bmi-chat-calculator h3, .bmi-chart h3{
    font-size: 2rem;
} 

.bmi-chart h3{
    text-align: left;
    padding-left: 150px;
}

.bmi-chat-calculator h3{
    padding-top: 17px;
    margin-bottom: 0px;
}
.bmi-chat-calculator p{
    padding-bottom: 5px;
}

table {
    padding-left: 130px;
    
}

table th, table td {
    padding: 15px;
    color: #ccc;
    text-align: left;
    border: 1px solid rgba(120, 119, 119, 0.5);
    border-radius: 2px;
}

table td{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.5);
}
table th {
    font-weight: 500;
    font-size: 1.5rem;
}
table tr:nth-child(even) {
    background-color: #333;
}

.bmi-chat-calculator form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}
.bmi-chat-calculator{
    padding-left: 400px;
    text-align: left;
    width: 600px;

}


.input input, 
.input select{
    padding: 15px;
    font-size: 1rem;
    justify-content: space-evenly;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
}

.form-input{
    display: flex;
    gap: 20px;
}

.padding-right{
    padding-right: 150px;
}

.bmi-btn{
    border-radius: 46px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(230, 83, 60);
    padding: 16px 70px;
    border: none;
    margin-top: 30px;
}

